@font-face {
  font-family: KGPrimaryPenmanship2;
  src: url(./KGPrimaryPenmanship2.ttf);
}

body {
  font-family: KGPrimaryPenmanship2;
  font-size: 24px;
}      
button {
  font-family: KGPrimaryPenmanship2;
  font-size: 36px;
  padding-left:18px;
  padding-right:18px;
}    
input{
  font-family: KGPrimaryPenmanship2;
  font-size: 36px;
}
h1{
  font-size: 72px;
}  
h2{
  font-size: 48px;
}  
